<!DOCTYPE html>
<html>
<head>
  <title>PaytmSubwallet</title>
  <%= stylesheet_link_tag    "paytm_subwallet/application", media: "all" %>
  <%= javascript_include_tag "paytm_subwallet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
